.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

header {
	grid-column: 2/3;
}

nav {
	grid-column: 2/3;
}

.introduktion {
	grid-column: 1/-1;
}

.nyhetsbrev {
	grid-column: 1/-1;
}

footer {
	grid-column: 2/3;
}
