body {
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

header {
	color: white;
	background-color: #35424a;
}

nav {
	color: white;
	background-color: #35424a;
}

.introduktion {
	color: white;
	background-image: url(./img/showcase.jpg);
	background-size: cover;
	border: 3px #e8491d;
	border-style: solid none;
}

.nyhetsbrev {
	color: white;
	background-color: #35424a;
	border-bottom: 3px solid #e8491d;
}

footer {
	color: white;
	background-color: #e8491d;
}

.grid-col-all {
	grid-column: 1/-1;
}
